# Ignore everything by default
*

# Allow Results
!results/
!results/**

# Allow Main Codes
!src/
!src/**
!run_pipeline.py
!requirements.txt
!Fairness_Pipeline.ipynb

# Allow Documentation
!README.md
!Research_Paper_Outline.md
!.gitignore
